In [4]:
# Dependencies
import tweepy
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
from matplotlib import style

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

# Twitter API Keys
from config import (consumer_key, 
                    consumer_secret, 
                    access_token, 
                    access_token_secret)

# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [8]:
# Search for People Tweeting about Mark Hamill
search_terms = ("@SFBART","@WMATA","@nyctsubway","@CTA","@MARTASERVICE","@RTCSNV","@UBER","@LYFT")
# Create variable for holding the oldest tweet
oldest_tweet = None

# List to hold unique IDs
sentiments = []

# Counter to keep track of the number of tweets retrieved
counter = 0

for search_term in search_terms:

    counter = 0
    oldest_tweet = None 
# Loop through 5 times (total of 500 tweets)
    for x in range(10):

        # Retrieve 100 most recent tweets -- specifying a max_id
        public_tweets = api.search(search_term, 
                                   count=100, 
                                   result_type="recent", 
                                   max_id=oldest_tweet)
        # Print Tweets
        for tweet in public_tweets["statuses"]:

            # Print the username
            results = analyzer.polarity_scores(tweet["text"])
            compound = results["compound"]
            pos = results["pos"]
            neu = results["neu"]
            neg = results["neg"]
            tweets_ago = counter

            # Get Tweet ID, subtract 1, and assign to oldest_tweet
            oldest_tweet = tweet['id'] - 1

            # Add sentiments for each tweet into a list
            sentiments.append({"Date": tweet["created_at"],
                               "Subject": search_term,
                               "Compound": compound,
                               "Positive": pos,
                               "Negative": neu,
                               "Neutral": neg,
                               "Tweets Ago": counter})

            # Add to counter 
            counter += 1

In [9]:
# Convert sentiments to DataFrame
sentiments_pd = pd.DataFrame.from_dict(sentiments)
sentiments_pd.to_csv('twitter.csv', encoding='utf-8')
sentiments_pd.head(50)
sentiments_pd.count()

Compound      6816
Date          6816
Negative      6816
Neutral       6816
Positive      6816
Subject       6816
Tweets Ago    6816
dtype: int64

In [ ]:
# Dependencies
import tweepy
import json
import numpy as np
import pandas as pd
import seaborn as sns
from config import consumer_key, consumer_secret, access_token, access_token_secret
import matplotlib.pyplot as plt


# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

# Import and Initialize Sentiment Analyzer
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [3]:
# Target User
target_users = ("APTA_Transit", "BART", "MTA", "CTA", "MARTA", "RTCSNV")

# Tweet Texts
tweet_texts = []
tweet_date = []

#variables for holding sentiments
compound_list = []
positive_list = []
negative_list = []
neutral_list = []
counter_list = []
target_list = []


for target in target_users:
    #Counter
    counter = 1
    # Create a loop to iteratively run API requests/ 20 tweets per page/ 1000 tweets equals 51 pages
    for x in range(1, 51):

        # Get all tweets from home feed (for each page specified)
        public_tweets = api.user_timeline(target, page=x)

        # Loop through all tweets
        for tweet in public_tweets:

            # Print Tweet
            #print(tweet["text"])

            # Store Tweet in Array
            tweet_texts.append(tweet["text"])

            # Store Tweet Date in Array
            tweet_date.append(tweet["created_at"])

            # Run Vader Analysis on each tweet
            results = analyzer.polarity_scores(tweet["text"])
            compound = results["compound"]
            pos = results["pos"]
            neu = results["neu"]
            neg = results["neg"]

            # Add each value to the appropriate list
            compound_list.append(compound)
            positive_list.append(pos)
            negative_list.append(neg)
            neutral_list.append(neu)
            counter_list.append(counter)
            target_list.append(target)
            # Store the data in dictionary
            sentiment = {
                "User": target_list,
                "Tweet": tweet_texts,
                "Date": tweet_date,
                "Compound": compound_list,
                "Positive": positive_list,
                "Neutral": negative_list,
                "Negative": neutral_list,
                "Tweets Ago": counter_list
            }
            #add to counter
            #print(target)
            counter += 1

#CREATE DATAFRAME
sentiment_users_df = pd.DataFrame(sentiment)

In [5]:
#Check Data Frame
sentiment_users_df.head(1000)

,Compound,Date,Negative,Neutral,Positive,Tweet,Tweets Ago,User
0,0.0000,Fri Apr 13 13:02:35 +0000 2018,1.000,0.000,0.000,"From coast to coast, public transportation is ...",1,APTA_Transit
1,0.8553,Wed Apr 11 21:22:08 +0000 2018,0.516,0.000,0.484,Congratulations to @RideKCTransit on their new...,2,APTA_Transit
2,0.0000,Tue Apr 10 21:36:02 +0000 2018,1.000,0.000,0.000,"RT @APTA_info: “In late March, Congress approp...",3,APTA_Transit
3,0.7717,Tue Apr 10 13:23:30 +0000 2018,0.675,0.000,0.325,Public transportation supports jobs in more wa...,4,APTA_Transit
4,0.0000,Mon Apr 09 21:03:27 +0000 2018,1.000,0.000,0.000,https://t.co/iNuedb2jYw,5,APTA_Transit
5,0.0000,Fri Apr 06 21:21:35 +0000 2018,1.000,0.000,0.000,https://t.co/zxMKT7Ulqs,6,APTA_Transit
6,0.4588,Thu Apr 05 18:59:20 +0000 2018,0.870,0.000,0.130,We applaud Congress for standing up for public...,7,APTA_Transit
7,0.7003,Wed Apr 04 20:59:16 +0000 2018,0.734,0.000,0.266,#Publictransportation has long operated in com...,8,APTA_Transit
8,0.4199,Tue Apr 03 16:30:17 +0000 2018,0.823,0.000,0.177,#PublicTransit keeps America moving! Our publi...,9,APTA_Transit
9,0.0000,Mon Apr 02 21:26:03 +0000 2018,1.000,0.000,0.000,https://t.co/1OBAhsKXmk,10,APTA_Transit
10,0.2732,Fri Mar 30 19:15:13 +0000 2018,0.884,0.000,0.116,DYK: Every $10 million in capital investment i...,11,APTA_Transit
11,0.3612,Thu Mar 29 21:44:52 +0000 2018,0.872,0.000,0.128,RT @APTA_Transit: A majority of Mayors surveye...,12,APTA_Transit
12,0.0000,Wed Mar 28 20:49:40 +0000 2018,1.000,0.000,0.000,https://t.co/2hnpyifjwG,13,APTA_Transit
13,0.8591,Tue Mar 27 21:39:46 +0000 2018,0.612,0.000,0.388,Congratulations to friend of transit @RepBonni...,14,APTA_Transit
14,0.0772,Fri Mar 23 18:56:45 +0000 2018,0.741,0.122,0.138,We’re at a critical juncture for #publictransp...,15,APTA_Transit
15,0.0000,Thu Mar 22 15:15:10 +0000 2018,1.000,0.000,0.000,"Public transportation connects communities, be...",16,APTA_Transit
16,-0.1027,Wed Mar 21 15:15:11 +0000 2018,0.920,0.080,0.000,Using public transportation funding to pay for...,17,APTA_Transit
17,0.8020,Tue Mar 20 19:38:28 +0000 2018,0.725,0.000,0.275,RT @repblumenauer: Glad to be a part of the @A...,18,APTA_Transit
18,0.0772,Tue Mar 20 14:28:56 +0000 2018,0.933,0.000,0.067,"""If the federal government moves toward VMT th...",19,APTA_Transit
19,0.0000,Tue Mar 20 14:13:25 +0000 2018,1.000,0.000,0.000,"""Who would invest all their money into one sto...",20,APTA_Transit
20,0.2023,Tue Mar 20 14:07:02 +0000 2018,0.878,0.000,0.122,"""Transit and mass transit are important to my ...",21,APTA_Transit
21,0.1521,Tue Mar 20 13:52:05 +0000 2018,0.885,0.000,0.115,"""People say they shouldn't pay for transit the...",22,APTA_Transit
22,0.6705,Tue Mar 20 13:49:42 +0000 2018,0.686,0.000,0.314,"""We need you advocacy and your support to make...",23,APTA_Transit
23,0.0000,Tue Mar 20 13:45:11 +0000 2018,1.000,0.000,0.000,"""93% of transit programs move quickly, the big...",24,APTA_Transit
24,0.4404,Tue Mar 20 13:20:49 +0000 2018,0.884,0.000,0.116,"""I hope when you talk to your member of Congre...",25,APTA_Transit
25,0.7964,Tue Mar 20 13:11:14 +0000 2018,0.728,0.000,0.272,"""We need a program to fund infrastructure prog...",26,APTA_Transit
26,0.4019,Tue Mar 20 13:08:29 +0000 2018,0.699,0.092,0.210,"""The Adminstration tried to cut TIGER grants. ...",27,APTA_Transit
27,-0.1280,Tue Mar 20 13:00:47 +0000 2018,0.914,0.086,0.000,"""The Adminstration plan invests $200 billion i...",28,APTA_Transit
28,-0.7089,Tue Mar 20 12:55:58 +0000 2018,0.671,0.329,0.000,"""I've been especially frustrated with the cuts...",29,APTA_Transit
29,0.6115,Mon Mar 19 15:40:26 +0000 2018,0.750,0.000,0.250,"""Capital Investment Grants would be used to ma...",30,APTA_Transit
...,...,...,...,...,...,...,...,...
970,0.2960,Thu Jul 09 21:45:55 +0000 2015,0.896,0.000,0.104,#Publictransit allows seniors to age in place....,971,APTA_Transit
971,0.5411,Wed Jul 08 21:56:11 +0000 2015,0.830,0.000,0.170,Living with one less car in a Boston household...,972,APTA_Transit
972,0.0000,Tue Jul 07 21:26:46 +0000 2015,1.000,0.000,0.000,48 million vacationers will use #publictransit...,973,APTA_Transit
973,0.5106,Mon Jul 06 21:44:51 +0000 2015,0.798,0.000,0.202,"89 million Americans plan to ""Travel Like a Lo...",974,APTA_Transit
974,0.8625,Sat Jul 04 13:02:01 +0000 2015,0.510,0.000,0.490,Public transit can help you celebrate safely t...,975,APTA_Transit
975,0.0000,Thu Jul 02 18:54:55 +0000 2015,1.000,0.000,0.000,RT @SEPTANews: .@APTA_Transit #SEPTA showcases...,976,APTA_Transit
976,0.4019,Thu Jul 02 18:54:30 +0000 2015,0.856,0.000,0.144,Every year large numbers of Americans support ...,977,APTA_Transit
977,0.0000,Mon Jun 29 21:02:22 +0000 2015,1.000,0.000,0.000,"In his weekend encyclical, @Pontifex spoke on ...",978,APTA_Transit
978,0.2484,Wed Jun 24 21:34:26 +0000 2015,0.867,0.000,0.133,Cities that invest in #publictransit accelerat...,979,APTA_Transit
979,0.6239,Tue Jun 23 21:07:16 +0000 2015,0.770,0.000,0.230,"When you commit to #publictransit, it fuels ec...",980,APTA_Transit
980,0.5719,Mon Jun 22 21:12:33 +0000 2015,0.709,0.000,0.291,Happy 100th birthday to Brooklyn's 1st subway ...,981,APTA_Transit
981,0.4404,Fri Jun 19 19:46:29 +0000 2015,0.818,0.000,0.182,Thanks for participating in #DumpThePump and #...,982,APTA_Transit
982,0.0000,Mon Jun 15 21:59:06 +0000 2015,1.000,0.000,0.000,San Francisco elected officials have recommitt...,983,APTA_Transit
983,0.2942,Thu Jun 11 21:02:34 +0000 2015,0.757,0.097,0.147,Dumping the Pump and living with 1 less car &a...,984,APTA_Transit
984,-0.1779,Wed Jun 10 21:37:33 +0000 2015,0.701,0.181,0.118,National Dump the Pump Day is near. You can sa...,985,APTA_Transit
985,0.0000,Tue Jun 09 21:30:12 +0000 2015,1.000,0.000,0.000,.@google offers dragons &amp; the Loch Ness Mo...,986,APTA_Transit
986,0.0000,Fri Jun 05 20:05:38 +0000 2015,1.000,0.000,0.000,The Rally to Rebuild America blasted pro-trans...,987,APTA_Transit
987,0.6249,Thu Jun 04 17:47:00 +0000 2015,0.718,0.000,0.282,FACT: 76% of public funding for #publictranspo...,988,APTA_Transit
988,0.3626,Thu Jun 04 14:25:06 +0000 2015,0.782,0.000,0.218,How to make everyone’s morning commute a littl...,989,APTA_Transit
989,0.8720,Wed Jun 03 20:37:12 +0000 2015,0.562,0.000,0.438,"Thanks to Liberty, OH Trustee Christine @Matac...",990,APTA_Transit
990,0.4215,Tue Jun 02 20:40:40 +0000 2015,0.781,0.000,0.219,"It is true, investment in #publictransit gener...",991,APTA_Transit
991,0.0000,Tue Jun 02 20:39:47 +0000 2015,1.000,0.000,0.000,RT @SanJoaquinRTD: History in the making – Tod...,992,APTA_Transit
992,0.6369,Mon Jun 01 20:48:38 +0000 2015,0.826,0.000,0.174,Taking #publictransit &amp; living with 1 less...,993,APTA_Transit
993,0.0000,Fri May 29 21:09:28 +0000 2015,1.000,0.000,0.000,#Publictransportation doesn't only provide mob...,994,APTA_Transit
994,0.7579,Thu May 28 21:40:16 +0000 2015,0.711,0.000,0.289,Gas prices have gone up 32 cents over the past...,995,APTA_Transit
995,0.4215,Tue May 26 21:03:16 +0000 2015,0.859,0.000,0.141,The new iOS update will make it even easier to...,996,APTA_Transit
996,0.7906,Mon May 25 15:15:01 +0000 2015,0.650,0.000,0.350,Today we remember those who gave their lives f...,997,APTA_Transit
997,0.3818,Fri May 22 14:44:00 +0000 2015,0.843,0.000,0.157,We partnered with middle schoolers in a compet...,998,APTA_Transit
998,0.3182,Thu May 21 20:55:33 +0000 2015,0.859,0.000,0.141,Limo didn't show? #Publictransit will make sur...,999,APTA_Transit
999,0.0772,Wed May 20 21:19:59 +0000 2015,0.515,0.236,0.249,"It helps you lose weight, save time, stress, a...",1000,APTA_Transit

In [6]:
#CHECK 10000 TWEETS WERE POLLED --- ACCOUNTS -ATL/MARTA DID NOT HAVE ENOUGH----
max_tweets = sentiment_users_df.loc[sentiment_users_df['Tweets Ago'] == 1000]
max_tweets

,Compound,Date,Negative,Neutral,Positive,Tweet,Tweets Ago,User
999,0.0772,Wed May 20 21:19:59 +0000 2015,0.515,0.236,0.249,"It helps you lose weight, save time, stress, a...",1000,APTA_Transit
1999,0.0000,Tue Jan 09 19:47:30 +0000 2018,1.000,0.000,0.000,@wintermute314 gelukkig zijn er nog tokens om ...,1000,BART
2999,-0.7003,Sat Jul 22 01:31:49 +0000 2017,0.766,0.234,0.000,"@Mad_Reggie Regrets, there was an earlier sick...",1000,MTA
3999,-0.4019,Fri Mar 09 12:34:31 +0000 2018,0.863,0.137,0.000,Some Linden-bound Purple Line trains are oper...,1000,CTA
5985,-0.5859,Sat Mar 03 21:56:23 +0000 2018,0.730,0.270,0.000,"#FASTALERT 03-Mar-18 1:54 pm,\nCrash on Durang...",1000,RTCSNV

In [7]:
#--------SAVE TO .CSV----------#
sentiment_users_df.to_csv('sentiment_df.csv')

In [9]:
#Using Pandas create dataframes for each TRANSIT company
apta_sentiment_df = sentiment_users_df.loc[sentiment_users_df['User'] == 'APTA_Transit']
bart_sentiment_df = sentiment_users_df.loc[sentiment_users_df['User'] == 'BART']
mta_sentiment_df = sentiment_users_df.loc[sentiment_users_df['User'] == 'MTA']
cta_sentiment_df = sentiment_users_df.loc[sentiment_users_df['User'] == 'CTA']
marta_sentiment_df = sentiment_users_df.loc[sentiment_users_df['User'] == 'MARTA']
rtcsnv_sentiment_df = sentiment_users_df.loc[sentiment_users_df['User'] == 'RTCSNV']

#Average the compound vader analysis for each TRANSIT company
apta_compound_avg = (f"{np.mean(apta_sentiment_df['Compound']):.3f}")
bart_compound_avg = (f"{np.mean(bart_sentiment_df['Compound']):.3f}")
mta_compound_avg = (f"{np.mean(mta_sentiment_df['Compound']):.3f}")
cta_compound_avg = (f"{np.mean(cta_sentiment_df['Compound']):.3f}")
marta_compound_avg = (f"{np.mean(marta_sentiment_df['Compound']):.3f}")
rtcsnv_compound_avg = (f"{np.mean(rtcsnv_sentiment_df['Compound']):.3f}")

#create DF with all compounded averages
compound_df = [apta_compound_avg, bart_compound_avg, mta_compound_avg, cta_compound_avg, marta_compound_avg, rtcsnv_compound_avg ]
compound_df

['0.268', '0.123', '0.038', '-0.069', '0.099', '-0.298']